extends base

block content
  main.main
    .user-form
      h2.heading-secondary.ma-bt-lg Input your account email to reset password
      form.form.form--forgotpassword
        .form__group
          label.form__label(for='email') Email Address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group
          button.btn.btn--green Send
