extends base

block content
  main.main
    .user-form
      h2.heading-secondary.ma-bt-lg Reset your password
      form.form.form--resetpassword
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='password-confirm') Confirm Password
          input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')          
        .form__group
          button.btn.btn--green.btn-new-password(type='submit', data-token=`${token ? token : ''}`) Reset Password
